<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          xmlns:tools="http://schemas.android.com/tools"
    package="com.river.app"
    android:versionCode="15"
    android:versionName="1.5">
	
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    
    <application 
        android:label="River" 
        android:debuggable="true" 
        android:hasCode="true"          
        android:extractNativeLibs="true"
        tools:replace="android:icon,android:label" 
        android:icon="@mipmap/icon">

        <!-- 确保指向正确的类名 -->
        <activity android:name=".MainActivity"
                  android:label="River"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:exported="true">
            
            <!-- 这里 value="main" 必须对应你的 libmain.so -->
            <meta-data android:name="android.app.lib_name"
                       android:value="main" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>